.App {
  text-align: center;
  margin: 0 auto;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 10px;
  list-style-type: none;
}

button {
  background-color: inherit;
  cursor: pointer;
}
